In [ ]:
introduction to list data types  :

In [ ]:
defination :Alist is a collection of items defined in a particular order.
classification : it is classified as a mutable data type
how to define/declare the list------->

In [1]:
students = ['simran','tasleem','nihar','ravi','kumar','abdul']

In [2]:
print(students)

['simran', 'tasleem', 'nihar', 'ravi', 'kumar', 'abdul']

In [ ]:
# how to verify datatype....?

In [3]:
type(students)

list

In [ ]:
introduction to indexing:0,1,2,3,4,..........n

In [ ]:
# how to acess the elements from the list.....?

In [ ]:
# i want to acess ravis name from the above list...?

In [5]:
print(students[3])

ravi

In [6]:
print(students[3].title())

Ravi

In [7]:
print(students)

['simran', 'tasleem', 'nihar', 'ravi', 'kumar', 'abdul']

In [ ]:
# i want to acess simran name from the list..../

In [8]:
print(students[0].title())

Simran

In [ ]:
1. how to add new elements to the list......?
2. how to modify  the elements in the list....?
3. how to delete the elements from the list....?

In [ ]:
# i want to add shradha to the above

In [9]:
students.append('shraddha')

In [10]:
print(students)

['simran', 'tasleem', 'nihar', 'ravi', 'kumar', 'abdul', 'shraddha']

In [ ]:
# iwant to add shiva to above list....?

In [11]:
students.append('shiva')

In [12]:
print(students)

['simran', 'tasleem', 'nihar', 'ravi', 'kumar', 'abdul', 'shraddha', 'shiva']

In [ ]:
# i want to add hamed to the second position in the above list....

In [14]:
students.insert(2,'hamed')

In [15]:
print(students)

['simran', 'tasleem', 'hamed', 'nihar', 'ravi', 'kumar', 'abdul', 'shraddha', 'shiva']

In [ ]:
question :what is the diff btw append and insert method in the list....?

In [ ]:
2.how to modify elements in the list.....?

In [18]:
print(students)

['simran', 'tasleem', 'hamed', 'nihar', 'ravi', 'kumar', 'abdul', 'shraddha', 'shiva']

In [ ]:
# req; iwant to modify rave to prasad.../

In [16]:
print(students[4])

ravi

In [19]:
students[4]='prasad'

In [20]:
print(students)

['simran', 'tasleem', 'hamed', 'nihar', 'prasad', 'kumar', 'abdul', 'shraddha', 'shiva']

In [21]:
print(students[4])

prasad

In [ ]:
3. how to delete the elements in the list...?

In [22]:
print(students)

['simran', 'tasleem', 'hamed', 'nihar', 'prasad', 'kumar', 'abdul', 'shraddha', 'shiva']

In [ ]:
# req: i want to delete hamed name from the list......?

In [24]:
print(students[2])

hamed

In [25]:
del students[2]

In [26]:
print(students)

['simran', 'tasleem', 'nihar', 'prasad', 'kumar', 'abdul', 'shraddha', 'shiva']